.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: all 0.3s ease;
  width: 166vw;
  gap: 10px;
}

/* .carousel .note-card {
  flex: 0 0 auto;
  padding: 20px;
  margin: 0 30px;
  border: 1px solid #ccc;
} */

.prev-btn,
.next-btn {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  padding: 10px;
  border: none;
  background: #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.prev-btn {
  left: 22px;
}

.next-btn {
  right: 30px;
}

.loader {
  width: 85px;
  height: 50px;
  margin: 10rem auto;
  --g1: conic-gradient(from 90deg at left 3px top 3px, #0000 90deg, #fff 0);
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #0000 90deg,
    #fff 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: l9 1s infinite;
}
@keyframes l9 {
  0% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
  25% {
    background-size: 25px 100%, 25px 50%, 25px 50%;
  }
  50% {
    background-size: 25px 50%, 25px 100%, 25px 50%;
  }
  75% {
    background-size: 25px 50%, 25px 50%, 25px 100%;
  }
  100% {
    background-size: 25px 50%, 25px 50%, 25px 50%;
  }
}
