.note-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50rem;
  margin: 30px 3.35rem;
  font-family: Arial, sans-serif;
}

/* .carousel .note-card {
    flex: 0 0 auto;
    padding: 20px;
    margin: 0 30px;
    border: 1px solid #ccc;
  } */

.note-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.note-content {
  padding: 10px;
  text-align: left;
  line-height: 1.4;
  text-align: right;
  /* direction: rtl; */
}

.note-card:hover {
  animation: slideOutUp 0.7s ease-out;
  /* transform: scale(1.05);
  transition: transform 0.5s; */
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}
