.share {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
}

.share span {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  font-family: "Amatic SC";
  font-weight: bold;
  letter-spacing: 0.4rem;
}
