.video-contianer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.video-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 20rem;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

h3,
h4 {
  font-family: "Amatic SC";
  letter-spacing: 0.5rem;
  text-align: center;
}

h3 {
  font-size: 28px;
  margin: 0.7rem;
  color: darkolivegreen;
}

.span:hover {
  color: darkgreen;
  font-weight: bolder;
  animation: slideOutUp 1s ease-in-out;
}

h4 {
  font-size: 30px;
  color: white;
}

.strikethrough-text {
  position: relative;
  width: 25rem;
  font-size: 36px;
  font-family: "Rubik Marker Hatch";
  margin: 5rem auto 2rem auto;
}

.text {
  position: relative;
}

.text::before,
.text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 15rem;
  border-top: 1px solid black;
}

.text::before {
  right: 120%;
}

.text::after {
  left: 120%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  height: 11rem;
}

.butterfly {
  height: 4rem;
}

.tavs {
  height: 8rem;
}

/* .tooltip {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Amatic SC";
  letter-spacing: 0.2rem;
  word-spacing: 2px;
  white-space: nowrap;
  animation: slideInUp 1s ease-in-out;
}

.ttpimg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgAnimation {
  animation: slideInDown 1s ease-in-out;
} */

@keyframes slideOutUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-50%);
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
